<!DOCTYPE html>
<html>
<head>
  <title>CRE Dash</title>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= react_component("CRENavbar") %>
<!-- <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <ul class="nav navbar-nav">
      <li>
        <a href="http://library.muhealth.org/mainSearch/UpToDate/UTD_IPcheck.php">UpToDate</a>
      </li>
      <li>
        <a href="http://proxy.mul.missouri.edu/login?url=http://www.clinicalkey.com">Clinical Key</a>
      </li>
      <li>
        <a href="http://proxy.mul.missouri.edu/login?url=http://accessmedicine.mhmedical.com">Access Medicine</a>
      </li>
      <li>
        <a href="https://www.wikipedia.org/">Wikipedia</a>
      </li>
    </ul>
    <%= react_component("SearchEverything") %>
  </div>
</nav> -->

<%= yield %>

</body>
</html>
